<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128702483-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-128702483-1');
    </script>

    <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
    <!--<script>-->
    <!--(adsbygoogle = window.adsbygoogle || []).push({-->
    <!--google_ad_client: "ca-pub-1135058154357902",-->
    <!--enable_page_level_ads: true-->
    <!--});-->
    <!--</script>-->

    <title>Bay Area Funs</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--<link href="<%= static_path + "/assets/css/main.cs" %>" rel="stylesheet">-->
    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.css" %>" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= static_path + "/bootstrap/css/jumbotron-narrow.css" %>" rel="stylesheet">
    <link rel="icon" href="http://bayareafuns.com/images/avatar.png"/>
</head>
<body class="is-preload">

<!-- Header -->
<div id="header">

    <div class="top">

        <!-- Logo -->
        <div id="logo">
            <span class="image avatar48"><a href="index.html"><img src="/images/avatar.jpg" alt="" style='vertical-align: middle;width:40px;height:40px;' /></a></span>
            <h1 id="title"><a href="index.html"> Bay Area Funs</a></h1>
            <p>Bay Area fun events and activities</p>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="#top" id="top-link"><span class="icon fa-home">Intro</span></a></li>
                <li><a href="#weekendfuns" id="weekendfuns-link"><span class="icon fa-th">Weekend Funs</span></a></li>
                <li><a href="#funplaces" id="funplaces-link"><span class="icon fa-th">Fun Places</span></a></li>
                <li><a href="#winter" id="winter-link"><span class="icon fa-th">Winter</span></a></li>
                <!--<li><a href="#spring" id="spring-link"><span class="icon fa-th">Spring</span></a></li>-->
                <!--<li><a href="#summer" id="summer-link"><span class="icon fa-th">Summer</span></a></li>-->
                <!--<li><a href="#autumn" id="autumn-link"><span class="icon fa-th">Autumn</span></a></li>-->
                <li><a href="#birthdayparties" id="birthdayparties-link"><span class="icon fa-th">Birthday Parties</span></a></li>
                <li><a href="#lessons" id="lessons-link"><span class="icon fa-th">Lessons</span></a></li>
                <li><a href="#hiking" id="hiking-link"><span class="icon fa-th">Hiking With Kids</span></a></li>
                <li><a href="#hukou" id="hukou-link"><span class="icon fa-th">Hu Kou</span></a></li>
                <li><a href="swimming.html" id="swimming-link"><span class="icon fa-th">Swimming</span></a></li>
                <li><a href="#about" id="about-link"><span class="icon fa-user">About Us</span></a></li>
                <li><a href="#contact" id="contact-link"><span class="icon fa-envelope">Contact</span></a></li>
            </ul>
        </nav>

    </div>

    <!--<div class="bottom">-->

    <!--&lt;!&ndash; Social Icons &ndash;&gt;-->
    <!--<ul class="icons">-->
    <!--<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>-->
    <!--<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>-->
    <!--<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>-->
    <!--<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>-->
    <!--<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>-->
    <!--</ul>-->

    <!--</div>-->

</div>

<!-- Main -->
<div id="main">

    <!-- Intro -->
    <section id="top" class="one dark cover">
        <div class="container">

            <header>
                <h2><img src = "/images/avatar.jpg" style='vertical-align: middle;width:40px;height:40px;' /> <span style="color: black; ">Bay Area Funs</span></h2>
            </header>
            <span style="color: black; ">Welcome to Bay Area Funs where you will find thousands of Fun Events and Fun Activities and more in San Francisco Bay Area! </span>

            <!--<footer>-->
            <!--<a href="#portfolio" class="button scrolly">Magna Aliquam</a>-->
            <!--</footer>-->

        </div>
    </section>

    <!-- Weekend Funs -->
    <section id="weekendfuns" class="two" style='vertical-align: left'>
        <div class="container"  style='vertical-align: left'>

            <header>
                <h2>Weekend Funs</h2>
            </header>
            <p style = 'line-height: 20px;vertical-align: left'>
                Checkout these great opportunities for family funs for this weekend.
            <li><img src = '/images/bakf.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="bayareakidsfuns.html">Bay Area Kids Fun</a></li>
            <li><img src = '/images/pao.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="paloaltoonline.html">Palo Alto Online</a></li>
            <li><img src = '/images/bap.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="bayareaparent.html">Bay Area Parents</a></li>
            <li><img src = '/images/xhb.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="wxxiaohuoban.html">小伙伴一起玩</a></li>
            <li><img src = '/images/bmwq.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="wxtiantianhui.html">北美湾区天天汇</a></li>
            <li><img src = '/images/lmc.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="wxlama.html">硅谷萌娃辣妈Club</a></li>
            <li><img src = '/images/fb.png' style='vertical-align: middle;width:25px;height:25px;' /> <a href="fbkids.html">Facebook Kids Events</a></li>
            <li><img src = '/images/fb.png' style='vertical-align: middle;width:25px;height:25px;' /> <a href="fbfamily.html">Facebook Family Events</a></li>
            <li><img src = '/images/stanford-social.png' style='vertical-align: middle;width:25px;height:25px;' /> <a href="stanfordfamilyday.html">Stanford Cantor Arts Center Second Sunday - Family Day</a></li>
            <li><img src = '/images/sj.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="sanjoseevents.html">San Jose Events</a></li>
            </p>
            <p>
            <h4><strong>Puppet Show & Classical Music Performance Magical Bridge, Palo Alto Nov. 10</strong></h4>
            <strong>Place: </strong>Magical Bridge 3700 Middlefield Rd, Palo Alto, California 94303<br>
            <strong>Time: </strong>Saturday, November 10 at 11 am – 1pm<br>
            </p>
            <p>
            <h4><strong>Amici’s Fundraiser for Magical Bridge Magical Bridge, Palo Alto Nov 13</strong></h4>
            <strong>Place: </strong>Magical Bridge Playground 3700 Middlefield Rd, Palo Alto, California 94303<br>
            <strong>Time: </strong>Tuesday, November 13 at 10 am – 10 pm<br>
            <strong>Phone: </strong>650-380-1557<br>
            <strong>Email: </strong>olenka@magicalbridge.org<br>
            <strong>Link: </strong>https://www.facebook.com/events/553355621773110/?active_tab=about/<br>
            </p>

        </div>
    </section>
    <section id="funplaces" class="three">
        <div class="container">

            <header>
                <h2>Fun Places</h2>
            </header>
            <p style = 'line-height: 20px;vertical-align: left'>
            <li><img src = '/images/bakf.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="bayareafunplaces.html">Bay Area Fun Places</a></li>
            <li><img src = '/images/sd.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="sodaspring.html/">Soda Spring Kids Ski</a> is one of the Ski Resorts that for kids under 3.</li>
            <li><img src = '/images/xhb.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="guiguyouwan.html">硅谷游玩攻略</a></li>
            <li><img src = "/images/mb.jpg" style="vertical-align: middle;width:25px;height:25px"/> <a href="magical-bridge.html">Magical Bridge</a> </li>
            <li><img src = "/images/cdm.JPG" style="vertical-align: middle;width:25px;height:25px"/> <a href="cdm.html">Children Discovery Museum</a> </li> Best fun place for kids from age 1 to age 3.
            <li><img src = "/images/hh.JPG" style="vertical-align: middle;width:25px;height:25px"/> <a href="happyhollow.html">Happy Hollow Park & Zoo</a> </li>
            <li><img src = "/images/bb.JPG" style="vertical-align: middle;width:25px;height:25px"/> <a href="billybeez.html">Billy Bee</a> </li>
            </p>

        </div>
    </section>
    <section id="winter" class="four">
        <div class="container">

            <header>
                <h2>Winter</h2>
            </header>
            <p style = 'line-height: 20px;vertical-align: left'>
            <li><img src = '/images/sd.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="sodaspring.html">Soda Spring Kids Ski</a> is one of the Ski Resorts that for kids under 3.</li>
            <li><img src = '/images/bakf.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="bayareafunplaces.html">Bay Area Fun Places</a></li>
            </p>

        </div>
    </section>
    <!--<section id="spring" class="five">-->
    <!--<div class="container">-->

    <!--<header>-->
    <!--<h2>Spring</h2>-->
    <!--</header>-->
    <!--<p style = 'line-height: 20px;vertical-align: left'>-->
    <!--<li><img src = 'images/bakf.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://www.bayareakidfun.com/fun-places-bay-area/">Bay Area Fun Places</a></li>-->
    <!--</p>-->

    <!--</div>-->
    <!--</section>-->
    <!--<section id="summer" class="six">-->
    <!--<div class="container">-->

    <!--<header>-->
    <!--<h2>Summer</h2>-->
    <!--</header>-->
    <!--<p style = 'line-height: 20px;vertical-align: left'>-->
    <!--<li><img src = 'images/bakf.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://www.bayareakidfun.com/fun-places-bay-area/">Bay Area Fun Places</a></li>-->
    <!--</p>-->

    <!--</div>-->
    <!--</section>-->
    <!--<section id="autumn" class="seven">-->
    <!--<div class="container">-->

    <!--<header>-->
    <!--<h2>Autumn</h2>-->
    <!--</header>-->
    <!--<p style = 'line-height: 20px;vertical-align: left'>-->
    <!--<li><img src = 'images/bakf.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://www.bayareakidfun.com/fun-places-bay-area/">Bay Area Fun Places</a></li>-->
    <!--</p>-->

    <!--</div>-->
    <!--</section>-->

    <section id="birthdayparties" class="five">
        <div class="container">

            <header>
                <h2>Birthday Parties</h2>
            </header>
            <p style = 'line-height: 20px;vertical-align: left'>
                Use the Bay Area Funs Party Directory to plan a fantastic celebration for your child. Find the perfect party place, talented and engaging entertainers, and fun rental bouncers.
            <li><img src = '/images/kpf.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://www.kidspartyfun.com/">Birthday Party Themes</a></li>
            <li><img src = '/images/bakf.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://www.bayareakidfun.com/party-entertainers-in-the-bay-area/">Birthday Party Entertainers</a></li>
            <li><img src = '/images/bakf.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://www.bayareakidfun.com/birthday-party-places/">Birthday Party Places</a></li>
            <li><img src = '/images/bakf.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://www.bayareakidfun.com/party-rentals-in-the-bay-area/">Birthday Party Rentals</a></li>
            </p>

        </div>
    </section>
    <section id="lessons" class="six">
        <div class="container">

            <header>
                <h2>Lessons</h2>
            </header>
            <p style = 'line-height: 20px;vertical-align: left'>
                Enrichment classes help your child learn new skills, make new friends and gain confidence in a fun and supportive environment. Lessons your child enjoys now can lead to a life-long hobby or even a career.
            <li><img src = '/images/pa.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://www.cityofpaloalto.org/gov/depts/csd/enjoy/default.asp">Palo Alto Activities</a></li>
            <li><img src = '/images/mv.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://www.mountainview.gov/depts/cs/rec/register.asp">Mountain View Activities</a></li>
            <li><img src = '/images/snv.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://sunnyvale.ca.gov/community/classes/default.htm">Sunnyvale Activities</a></li>
            <li><img src = '/images/sc.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="http://santaclaraca.gov/government/departments/parks-recreation/activities-programs">Santa Clara Activities</a></li>
            <li><img src = '/images/ct.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://www.cupertino.org/our-city/departments/recreation-and-community-services/recreation-classes-and-activities">Cupertino Activities</a></li>
            <li><img src = '/images/la.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://www.losaltosca.gov/recreation/page/view-all-classes-0">Los Altos Activities</a></li>
            <li><img src = '/images/mp.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://www.menlopark.org/235/Activity-Guide-and-registration">Menlo Park Activities</a></li>
            <li><img src = '/images/at.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://www.ci.atherton.ca.us/191/Recreational-Activities">Atherton Activities</a></li>
            <li><img src = '/images/rwc.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://www.redwoodcity.org/departments/parks-recreation-and-community-services/activities-programs">Redwood City Activities</a></li>
            <li><img src = '/images/sanc.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://www.cityofsancarlos.org/government/departments/parks-and-recreation/view-activity-guide">San Carlos Activities</a></li>
            <li><img src = '/images/bm.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://www.belmont.gov/city-hall/parks-and-recreation/activity-guide">Belmont Activities</a></li>
            <li><img src = '/images/sm.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://www.cityofsanmateo.org/1430/Activity-Guide">San Mateo Activities</a></li>
            <li><img src = '/images/fc.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://www.fostercity.org/parksrec/page/activities-and-classes">Foster City Activities</a></li>
            <li><img src = '/images/bakf.JPG' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://www.bayareakidfun.com/lessons-for-children-in-the-bay-area/">Lessons for Kids</a></li>
            </p>

        </div>
    </section>
    <section id="hiking" class="seven">
        <div class="container">

            <header>
                <h2>Hiking with kids</h2>
            </header>

            <p style = 'line-height: 20px;vertical-align: left'>
                Hiking trails with kids.
            <li><img src = '/images/avatar.jpg' style='vertical-align: middle;width:25px;height:25px;' /> <a href="https://bahiker.com/kids.html">Kids friendly hiking trails.</a></li>
            <li><img src = '/images/avatar.jpg' style='vertical-align: middle;width:25px;height:25px;' /> <a href="/coyotehillsregionalpark.html">Coyote Hills Regional Park</a></li>
            </p>

        </div>
    </section>
    <section id="hukou" class="eight">
        <div class="container">

            <header>
                <h2>Hu Kou</h2>
            </header>

            <p style = 'line-height: 20px;vertical-align: left'>
                为美国出生的宝宝上中国户口攻略
            <li><img src = '/images/avatar.jpg' style='vertical-align: middle;width:25px;height:25px;' /> <a href="hukou.html">如何为美国出生的宝宝办中国户口.</a></li>
            <li><img src = '/images/avatar.jpg' style='vertical-align: middle;width:25px;height:25px;' /> <a href="lvxingzheng.html">在美出生儿童申请旅行证全攻略.</a></li>
            </p>

        </div>
    </section>
    <section id="swimming" class="nine">
        <div class="container">

            <header>
                <h2>Swimming</h2>
                <!--<meta http-equiv="Refresh" content="0; url=swimming.html" />-->
            </header>
            <p>Please follow <a href="swimming.html">this link</a>.</p>
        </div>
    </section>
    <!-- About Us -->
    <section id="about" class="ten">
        <div class="container">

            <header>
                <h2>About us</h2>
            </header>

            <p>We provides bay area events and activities information.</p>

        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="eleven">
        <div class="container">

            <header>
                <h2>Contact</h2>
            </header>

            <p>funsbayarea at gmail.com.</p>
        </div>
    </section>

</div>

<!-- Footer -->
<div id="footer">

    <!-- Copyright -->
    <ul class="copyright">
        <li>&copy; Untitled. All rights reserved. Bay Area Funs</li>
    </ul>

</div>

<!-- Scripts -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/jquery.scrolly.min.js"></script>
<script src="../static/assets/js/jquery.scrollex.min.js"></script>
<script src="../static/assets/js/browser.min.js"></script>
<script src="../static/assets/js/breakpoints.min.js"></script>
<script src="../static/assets/js/util.js"></script>
<script src="../static/assets/js/main.js"></script>
<script type="text/javascript"> var infolinks_pid = 3142489; var infolinks_wsid = 0; </script> <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
</body>
</html>